example/example_struct.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com" xmlns:bk="http://example.com">
	<xsd:element name="example_struct" type="bk:example_struct_type"/>
	<xsd:complexType name ="example_struct_type">
		<xsd:sequence>
			<xsd:element name="author"   type="xsd:string"/>
			<xsd:element name="title"    type="xsd:string"/>
			<xsd:element name="genre"    type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
