example/example_struct.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com" xmlns:ns1="http://example1.com">
	<xsd:import namespace="http://example1.com" schemaLocation="struct2.xsd"/>
	<xsd:element name="example_struct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ns1:element_struct2"/>
				<xsd:element name="author"	type="xsd:string"/>
				<xsd:element name="title"	type="xsd:string"/>
				<xsd:element name="genre"	type="xsd:string"/>
				<xsd:element name="s2"		type="ns1:struct2"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
