gen/xsd/jaxb/xml.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test_example.com">

	<xsd:element name="example_struct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="author"	type="xsd:string" minOccurs="2" maxOccurs="3"/>
				<xsd:element name="author"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="title"	type="xsd:string"/>
				<xsd:element name="genre"	type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
