xsd_for_test/extras/legal_upa.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://test_example.com"
			xmlns:ns="http://test_example.com"
			xmlns:ns1="http://test_example1.com">

<xsd:element name="illegal_upa">
	<xsd:complexType>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="a" type="xsd:string"/>
				<xsd:element name="b" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<!--
			<xsd:element name="a" type="xsd:string"/>
			-->
			<xsd:element name="b" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

</xsd:schema>

