xsd_for_test/extras/seq.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://test_example.com"
			xmlns:ns="http://test_example.com"
			xmlns:ns1="http://test_example1.com">

<xsd:element name="seq">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:sequence minOccurs="2" maxOccurs="10">
				<xsd:element name="a" type="xsd:string"/>
				<xsd:element name="b" type="xsd:string"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="a" type="xsd:string"/>
				<xsd:element name="b" type="xsd:string"/>
			</xsd:sequence>
			<!--
			-->
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
