gen/xsd/xml_struct.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://test_example.com"
			xmlns:ns1="http://test_example1.com"
			xmlns:ns2="http://test_example.com">

	<xsd:import namespace="http://test_example1.com" schemaLocation="struct2.xsd"/>
	<xsd:import schemaLocation="struct2.xsd"/>
	<xsd:include schemaLocation="basic_string_simple_content.xsd"/>
	<xsd:element name="xml_struct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ns1:element_struct2"/>
				<xsd:element name="author"	type="xsd:string" minOccurs="2" maxOccurs="2"/>
				<xsd:element name="author"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="author"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="title"	type="xsd:string"/>
				<xsd:element name="genre"	type="xsd:string"/>
				<xsd:element name="s2"		type="ns1:struct2" maxOccurs="unbounded"/>
				<xsd:element xmlns:ns3="http://test_example.com" ref="ns3:basic_string_simple_content"/>
				<xsd:element name="included_struct">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="one"	type="xsd:string"/>
							<xsd:element name="two"	type="xsd:string"/>
							<xsd:element name="three"	type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
