test/xsd_for_test/simple_choice2_struct.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://test_example.com">

	<xsd:element name="simple_choice2_struct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="author"	type="xsd:string" maxOccurs="2"/>
					<xsd:element name="title"	type="xsd:string"/>
					<xsd:element name="genre"	type="xsd:string"/>
				</xsd:choice>
				<xsd:element name="one"	type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
