common/basic_string_simple_content.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://test_example.com" xmlns:ns="http://test_example.com">
	<xsd:complexType name="basic_string_simple_content_type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="attr1" type="xsd:int"/>
				<xsd:attribute name="attr2" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="basic_string_simple_content" type="ns:basic_string_simple_content_type"/>
</xsd:schema>
