xsd_for_test/mixed_c.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://test_example.com" xmlns:ns="http://test_example.com">
	<xsd:element name="mix">
		<xsd:complexType mixed="true">
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="one" type="xsd:string"/>
				<xsd:element name="two" type="xsd:string"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>

