xsd_for_test/struct_with_various_types.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://test_example.com">

	<xsd:element name="struct_with_various_types">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="int" type="xsd:int"/>
				<xsd:element name="string" type="xsd:string"/>
				<xsd:element name="normalizedString" type="xsd:normalizedString"/>
				<xsd:element name="token" type="xsd:token"/>
				<xsd:element name="Name" type="xsd:Name"/>
				<xsd:element name="NCName" type="xsd:NCName"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
