test/common/basic_string_nons.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="basic_string_nons" type="xsd:string"/>
	<xsd:element name="cha">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="one" type="xsd:string"/>
				<xsd:element name="two" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
